* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    gap: 43px;
    padding: 11px 100px;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 22px;
    align-items: center;
}

.nav ul li {
    list-style: none;

}

.btn1 {
    padding: 9px 22px;
    background-color: #4CAF4F;
    color: white;
    border-radius: 3px;
    border: transparent;
}

.hero1 {
    padding: 66px 100px;
    background-color: #F5F7FA;
    display: flex;
    width: 100%;
    height: 416px;
    gap: 72px;
}

.content1 {
    width: 624px;
    height: 192px;
    padding-left: 180px;
    padding-top: 50px;
}

h1 {
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
    line-height: 52px;
}

.hone {
    color: #4D4D4D;
}

.htwo {
    color: #4CAF4F;
}

.hero1 .content1 p {
    line-height: 16px;
    font-size: 11px;
    color: #717171;
    margin-top: 5px;
}

.btn2 {
    border-radius: 3px;
    padding: 9px 22px;
    border: transparent;
    background-color: #4CAF4F;
    color: white;
    margin-top: 15px;
}

.img1 {
    padding-left: 50px;
}

.hero2 {
    width: 100%;
    height: 132px;
    background-color: white;
    margin-top: 20px;
}

.arham {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arham h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;

}

.arham p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
}

.arhum {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 30px;
}

.bitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    height: 105px;
    background-color: white;
}

.bitch h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;
    padding-top: 5px;
}

.bitch p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
    padding-top: 5px;
}

.dabbe {
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 170px;
}

.dabba1 {
    height: 182;
    width: 208px;
    display: flex;
    flex-direction: column;
    padding: 16px 22px;
    align-items: center;
    justify-content: center;
}

.dabba1 h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;
    padding-top: 5px;
}


.dabba1 p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
    padding-top: 5px;
    text-align: center;
}

.dabba2 {
    height: 182;
    width: 208px;
    display: flex;
    flex-direction: column;
    padding: 16px 22px;
    align-items: center;
    justify-content: center;
}

.dabba2 h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;
    padding-top: 5px;
}


.dabba2 p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
    padding-top: 5px;
    text-align: center;
}

.dabba3 {
    height: 182;
    width: 208px;
    display: flex;
    flex-direction: column;
    padding: 16px 22px;
    align-items: center;
    justify-content: center;
}

.dabba3 h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;
    padding-top: 5px;
}


.dabba3 p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
    padding-top: 5px;
    text-align: center;
}

.hero4 {
    display: flex;
    justify-content: space-around;
    /* background-color: skyblue; */
    height: 302px;
    width: 100%;
    align-items: center;
    padding-top: 120px;
}

.content2 {
    width: 460px;
    height: 188px;
    /* background-color: yellow; */

}

.img2 {
    padding-left: 20px;
}

.content2 h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;
    padding-top: 5px;
}

.content2 p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
    padding-top: 5px;
    text-align: left;
}

.content2 button {
    border-radius: 3px;
    padding: 9px 22px;
    border: transparent;
    background-color: #4CAF4F;
    color: white;
    margin-top: 15px;
}

.hero5 {
    width: 100%;
    height: 202px;
    display: flex;
    padding: 44px 100px;
    justify-content: space-between;
    padding-top: 100px;
}

.content3 {
    width: 430px;
    height: 85px;
    padding-left: 150px;
    padding-top: 50px;
}

.numbers {
    width: 375px;
    height: 113px;
}

.bitcho {
    display: none;
}

.content3 h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;
    padding-top: 5px;
}

.content3 .h22 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4CAF4F;
    padding-top: 5px;
}

.content3 p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
    padding-top: 5px;
    text-align: left;
}

.numbers1 {
    display: flex;
width: 360px;
height: 200px;
background-color: white;
overflow: visible;
justify-content: center;
align-items: center;
gap: 80px;
}

.numbers1 .icon h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;
    padding-top: 5px;
}

.numbers1 .icon p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
    padding-top: 5px;
    text-align: left;
}

.dog{
    display: flex;
    flex-direction: column;
    padding-right: 150px;

}

.numbers2 {
    display: flex;
width: 360px;
height: 200px;
background-color: white;
justify-content: center;
align-items: center;
gap: 80px;
overflow: visible;
}

.numbers2 .icon h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #4D4D4D;
    padding-top: 5px;
}

.numbers2 .icon p {
    color: #717171;
    font-size: 11px;
    line-height: 16px;
    padding-top: 5px;
    text-align: left;
}





/* Media Queries Start */
@media screen and (min-width: 0px) and (max-width: 480px; ) {
    .navlinks {
        display: none;
    }

    .bitcho {
        display: block;
    }
}



@media screen and (min-width: 481px) and (max-width: 768px; ) {
    .navlinks {
        display: block;
    }

}